.subnavbar
{
    background-color: var(--background-color-1);
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    
    border-bottom: 1px var(--gray-1) solid;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.create-device-title{
    font-weight: 900;
    font-size: 20pt;
}

.create-device-button{
    border-style: none;
    background-color: var(--primary-color-3);
    color: var(--background-color-1);
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    border-radius: 10px;
}

.create-device-button:hover{
    background-color: var(--primary-color-4);
}

.create-device-button-pressed{
    border-style: none;
    background-color: var(--primary-color-4);
    color: var(--background-color-1);
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    border-radius: 10px;
}

.create-device-button-pressed:hover{
    background-color: var(--primary-color-3);
}

.devices-location{
    margin: 20px 0 20px 20px;
}

.stickymap-container{
    width: 700px;
    height: 700px;
    top: 20px;
    position: sticky;
}


.devices-title{
    font-size: 20pt;
    font-weight: 700;
}

.devices-container{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content:first baseline;
}



.elements-container{
    display: flex;
    gap: 20px;
    flex-flow: wrap;
    align-content: flex-start;
    column-gap: 20px;
    padding: 20px;
}



.create-device-menu{
    background-color: var(--background-color-1);
    border-radius: 20px;
    margin-left: auto;
    border: 1px var(--gray-1) solid;
    min-width: 400px;
    height: fit-content;
    padding: 20px;
}


.separator-line{
    width: 100%;
    background-color: var(--gray-1);
    height: 1px;
    margin: 20px 0 20px 0;
}

.create-device-menu form{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.create-device-menu form input{
    padding: 10px;
    border-radius: 2px;
    border-style: none;
    background-color: var(--background-color-3);
}

.create-device-menu form input:focus{
    outline: 1px var(--primary-color-3) solid;
}